@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    padding: 1%;
    background-color: #1F1F29;
    color: #E6E6EB;
    font-family: 'poppins', sans-serif;
}